.horizontal-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  background-color: black;
}

.horizontal-nav li {
  margin: 0 15px; /* Adjust the spacing between the navigation items */
}

.horizontal-nav a {
  text-decoration: none;
  color: white; /* Adjust the color to your preference */
  font-size: 18px;
}

.horizontal-nav a:hover {
  text-decoration: underline; /* Optional: underline the link on hover */
}
